/examples/weihong-ai-robot-service/.idea
/examples/xiaohong-vector-store-search/.idea
/examples/weihong-ai-robot-web/node_modules
/examples/weihong-ai-robot-web/.vscode
/examples/xiaohong-mcp-server-qq/.idea
/project/weihong-ai-robot-service/.idea
/project/weihong-ai-robot-web/node_modules
/project/weihong-ai-robot-web/.vscode